.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.search-input {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.pokemon-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-list-item {
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.pokemon-list-item:hover {
    transform: scale(1.05);
}

.pokemon-data {
    margin-top: 20px;
    text-align: center;
}

.pokemon-data img {
    width: 150px;
    height: 150px;
}

.link {
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.generation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.generation-container h2 {
    margin-bottom: 10px;
}

.generation-container button {
    padding: 10px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.generation-container button:hover {
    background-color: #0056b3;
}

.generation-container button.selected {
    background-color: #0056b3;
    font-weight: bold;
}